:root {
  --primary-color: #ff8c42;
  --secondary-color: #004080;
  --font-family: "Playfair Display", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 16px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* glass */
  background: rgba(131, 131, 131, 0.446);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  z-index: 20;
}

.navbar .navbar-logo {
  width: 50px;
  height: auto;
  cursor: pointer;
}
.navbar-logo:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.navbar .navbar-links {
  display: flex;
  gap: 1.5rem;

  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-links {
  display: flex;
  gap: 1.8rem;

  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;

  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.3px;

  opacity: 0.9;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.navbar-links a:hover {
  opacity: 1;
  transform: translateY(-1px);
  color: #004080;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    color 1s ease;
}

.navbar-links a.active {
  font-weight: 700;
  opacity: 1;
}

/* HERO */
.hero {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  gap: 15px;
}

.hero-overlay h1 {
  font-size: 3rem;
  line-height: 3rem;
}
.hero-overlay h2 {
  font-size: 1rem;
  line-height: 2rem;
}

.hero-overlay p {
  font-size: 0.9rem;
  max-width: 500px;
  line-height: 1rem;
  margin-top: 1rem;
}

.hero-btn {
  margin-top: 2rem;
  width: fit-content;
  padding: 0.8rem 1.6rem;
  background-color: #ff8c42;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
